/* -----------------------------
* サイドバーのCSS
------------------------------ */


.main-wall{
    background-image: url(../img/home_image01.jpg);
    /* 画面、ブラウザのサイズに基づいて、背景画像を調整。 画像を画面に合わせて拡大 */
    background-size: cover;
    /* 画像を常に左下を固定に配置させる。画面が小さくなると右が消える */
    background-position: left bottom;
    /* 画像を繰り返し表示しないようにする。 */
    background-repeat: no-repeat;
    /* コンテンツのスクロールだけ許可、背景はスクロールしない */
    background-attachment: local;
}


main:not(:has(.main-wall)) {
    background-image: url(../img/home_image21.jpg);
    /* 高さを画面のサイズ100%に、幅はautoで縦横比そのまま */
    background-size: auto 100%;
    /* 画像を常に右下を固定に配置させる。画面が小さくなると左が消える */
    background-position: right bottom;
    /* 画像を繰り返し表示しないようにする。 */
    background-repeat: no-repeat;
    /* 背景画像のスクロールを禁止、コンテンツはスクロールする */
    background-attachment: fixed;

    /* 背景画像を薄める（透明っぽく） */
    /* 背景色を白系にして、色をブレンドして白っぽく薄める */
    background-color: rgba(255, 255, 255, 0.83);
    background-blend-mode: lighten;

    /* テンプレート調整したので、修正 */
    padding-top:1.5rem;
}
